body {
    font-family: Arial, sans-serif;
background-color: #914343;
}
header {
    color: #ffffff;
text-align: center;
}
section {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    color: #ffffff;
}
img {
     width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}